aiohttp==2.1.0
appdirs==1.4.3
async-timeout==1.2.1
certifi==2017.4.17
chardet==3.0.3
Django==1.11.1
django-telegrambot==1.0.0
future==0.16.0
multidict==2.1.6
packaging==16.8
pyparsing==2.2.0
python-telegram-bot==6.0.1
pytz==2017.2
six==1.10.0
transitions==0.5.3
urllib3==1.21.1
yarl==0.10.2
